*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*para di magalaw kahit mag-set ng height width*/
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
/*pag kukunin color, call lang yung var()*/
:root{
    --primary: #FFA700;
    --black: #2b2b2b;
    --gray: #808080;
    --white: #ffffff;
}
.container{
    max-width: 112rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
@media (min-width: 768px){
    .container{
        width: 100%;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
.header{
    background-color:var(--black);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
}
#spanLogo{
    color: #FFA700;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
#Home, #about, #services, #updates, #contact{
    color: var(--primary);
}

nav ul li a:hover{
    color: var(--primary);
}
.toggle__menu span{
    background-color: var(--primary);
    display: block;
    height: 0.2rem;
    width: 2rem;
    margin-bottom: 0.4rem;
    border-radius: 0.5rem;
    transition: 0.5s ease;
    
}
.toggle__menu{
    cursor: pointer;
    display: none;
}
@media (max-width: 768px){
    .toggle__menu{
        display: block;
    }
    nav.open ul{
        right: -50%;
        transition: 0.5s ease-in;
    }
    nav ul{
        display: block;
        position: absolute;
        right: -105%;
        top: 6.6rem;
        width: 100%;
        height: 100vh;
        background-color: var(--white);
        text-align: left;
        transition: 0.5s ease-in;
    }
    #Home{
        color: black;
    }
    #about{
        color: black;
    }
    #services{
        color: black;
    }
    #updates{
        color: black;
    }
    #contact{
        color: black;
    }
    nav ul li a{
        display: block;
        color: black;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid gray;
    }
    nav ul li:hover{
        background-color: var(--primary);
    }
    nav ul li:hover a{
        color: var(--white);
    }
    .toggle__menu.open span:nth-child(1){
        transition: 0.5s ease;
        transform: translate(-2px, 7.3px) rotate(45deg);
    }
    .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: 0s;
    }
    .toggle__menu.open span:nth-child(3){
        transition: 0.5s ease;
        transform: translate(-2px, -12px) rotate(-45deg);
    }
}
/*----------------Header Elements Ends Here---------------*/
.banner{
    padding: 6rem 0;
}
@media (max-width: 998px){
    .banner__wrapper{
        flex-direction: column;
    }
    .banner img{
        width: 100% !important;
    }
}
.banner__wrapper{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.banner img{
    width: 40rem;
}
.banner__content h1{
    font-size: clamp(3rem, 5vw, 5rem);
    color: var(--primary);
    line-height: 70px;
}
.banner__content a{
    color: var(--white);
    padding: 0.8rem 2rem;
    background-color: var(--primary);
    border-radius: 3rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;

}
.banner__content a:hover{
    background-color: var(--primary);
    color: var(--black);
    box-shadow: 0 5px 5px 0px;
}
.banner__content p{
    text-align: justify;
    margin: 2rem 0
}
/*----------------Banner Elements Ends Here---------------*/
.bannerAbout{
    padding: 6rem 0;
}

.bannerAbout__wrapper{
    display: flex;
    align-items: center;
    gap: 4rem;

}
.bannerAbout__wrapper img{
    width: 40rem;
}
.bannerAbout__content h1{
    font-size: clamp(3rem, 5vw, 5rem);
    color: var(--primary);
    line-height: 70px;
}
.bannerAbout__icons i{
    font-size: 32px;
    color: var(--primary);
    margin: 2.5rem 0.5rem;
}
.bannerAbout__icons i:hover{
    color: var(--black);
}
.bannerAbout__content #p{
    padding: 2rem 0;
    text-align: justify;
}
.arrow__down{
    color: var(--primary);
    text-align: center;
    font-size: 40px;
}
@media (max-width: 768px){
    .bannerAbout__wrapper{
        display: block;
    }
    .bannerAbout__wrapper img{
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .bannerAbout__icons i{
        margin: 0 0 4rem 0;
    }
    .arrow__down{
        margin-top: 2rem;
    }
}

/*----------------bannerAbout Elements for About.html Ends Here---------------*/


.services{
    background-color: var(--black);
    padding: 4rem 0;
}

.services__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    text-align: center;
}
.services__content{
    padding: 1rem 2rem;
}
.services__content img{
    width: 60px;
}
.services__content h4{
    margin: 1rem 0;
    color: var(--primary);
}
.services__content p{
    margin: 2rem 0;
    color: var(--white);
    text-align: justify;
}
.services__content a{
    color: var(--white);
    padding: 0.8rem 2rem;
    background-color: var(--primary);
    border-radius: 3rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;   
    margin: 2rem 0;
}
.services__content a:hover{
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 5px 5px 0px;
    
}
@media (max-width: 768px){
    .services__wrapper{
        grid-template-columns: 1fr;
    }
    .services__content a{
        margin: 0 0 2rem 0;
    }
}
/*----------------Services Elements about.html ataa? Ends Here---------------*/
.about{
    padding: 6rem 0;
}
.about__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}
.about__wrapper img{
    filter: saturate(150%);
    filter: contrast(180%);
}
.about__content h4{
    font-size: 1.5rem;
    color: var(--primary);
}
.about__content p{
    text-align:justify;
    margin: 2.5rem 0;
}
@media (max-width: 768px){
    .about__wrapper{
        display: block;
    }
    .about__wrapper img{  
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .about__content{
        margin-top: 2rem;
        text-align: center;
    }
}
/*----------------About Elements Ends Here---------------*/
.updates{
    padding: 4rem 0  4rem 0;
    background-color: var(--black);
    color: var(--white);
}
.updates__info{
    margin: 2rem 0;
}
.updates__info h2{
    color: var(--primary);
    margin: 1rem 0;
}
.updates__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.updates__content{
    width: 333px;
    height: 450px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 18px;
    margin: 2rem 0;

}
.updates__content img{
    width: 333px;
}

.updates__content h5{
    color: var(--primary);
    padding: 15px;
}
.updates__content p{
    color: var(--black);
    padding: 15px;
    text-align: justify;
}
.updates__content a{
    text-decoration: none;
    color: var(--primary);
    padding: 15px;
}
.updates__content a:hover{
    color: var(--black);
}
@media (max-width: 768px){
    .updates__wrapper{
        grid-template-columns: 1fr;
    }
    .updates__content{
        width: 300px;
        height: 417px;
        margin: 0 auto;
    }
    .updates__content img{
        width: 300px;
    }
    .updates__content p,h5{
        font-size: 15px;
    }
}
/*----------------Updates Elements Ends Here---------------*/
/*----------------Services.html Starts Here---------------*/

.bannerServices{
    padding: 6rem 0;
}

.bannerServices__wrapper{
    display: flex;
    align-items: center;
    gap: 6rem;
}
.bannerServices img{
    width: 40rem;
}
.bannerServices__content h1{
    font-size: clamp(3rem, 5vw, 3rem);
    color: var(--primary);
    line-height: 70px;
}
.bannerServices__content #p{
    text-align: justify;
    margin: 2.5rem 0
}
.bannerServices__content #p2{
    font-style: italic;
    font-size: 10px;
}
.bannerServices__content p{
    margin: 0.3rem 0;
}
.bannerServices__content h3{
    color: var(--primary);
    font-size: 1.8rem;
}
.arrow__down{
    color: var(--primary);
    text-align: center;
    font-size: 40px;

}

.banner2Services{
    padding: 6rem 0;
    background-color: var(--black);
}

.banner2Services__wrapper{
    display: flex;
    align-items: center;
    gap: 9rem;
}
.banner2Services img{
    width: 40rem;
}
.banner2Services__content h1{
    font-size: 3.5rem;
    color: var(--primary);
    line-height: 70px;
}
.banner2Services__content #p{
    color: var(--white);
    text-align: justify;
    margin: 2.5rem 0
}
.banner2Services__content #p2{
    color: var(--white);
    font-style: italic;
    font-size: 10px;
}
.banner2Services__content p{
    color: var(--white);
    margin: 0.3rem 0;
}
.banner2Services__content h3{
    color: var(--primary);
    font-size: 1.8rem;
}
.arrow__down2{
    color: var(--primary);
    text-align: center;
    font-size: 40px;
    margin-top: 3rem;

}

/*----------------CSS for Services Elements ends here----------------*/
/*----------------CSS for Updates Elements ends here----------------*/
.trends__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 0;
}
.trends__info{
    padding: 5rem 0;
}
.trends__info h1{
    font-size: 35px;
    color: var(--primary);
}
.trends__content ul{
    display: flex;
    list-style-type: none;
    gap: 3rem;
    margin: 1rem 0 2rem 0;
}
.trends__content #img{
    margin-top: 3rem;
}
.trends__content ul li i,a{
    margin-right: 1rem;
    color: var(--black);
}
.trends__content h3{
    margin-bottom: 1rem;
    color: var(--primary);
}
.trends__content p{
    margin-bottom: 1rem;
}
.trends__content a{
    text-decoration: none;
}
.trends__content2 h3{
    padding: 0 0 1rem 4.5rem;
    color: var(--primary);
}
.trends__content2 #h3{
    padding: 13rem 0 2rem 4.5rem;
    color: var(--primary);
}

.trends__content2 table td{
    padding: 0 4.5rem;
}
.recent{
    display: flex;
    padding: 0 4.5rem ;
    margin-bottom: 2rem;
}
.recent img{
    padding-right: 1rem;
}
.recent p{
    width: 250px;
}
.trends__content2 #h3__1{
    margin: 8rem 0 1rem 0;
    color: var(--primary);
}
.tags__wrapper{
    margin-left: 4.5rem;  
}
.tags__wrapper a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 0.8rem 2rem;
    border: 3px solid var(--black) ;
    border-radius: 66px;
    margin-bottom: 1rem;
}
.tags__wrapper .webdev{
    background-color: var(--black);
    padding: 0.8rem 1.9rem;
    color: var(--white);
}
/*----------------CSS for updates.html Elements ends here----------------*/
/*----------------CSS for Contact.html Elements Starts here----------------*/
#header__hr{
    border: 3px solid black;
    opacity: 90%;
}
.contactNav{
    background-color: var(--black);
    color: var(--white);
    padding: 4rem 0;
}
.contactNav__content{
    display: flex;
    align-items: center;
    gap: 10rem;
}
.contentNav__info h2{
    font-size: 3rem;
    color: var(--primary);
}
.contentNav__info p{
    margin: 2rem 0;
}
.icons1 i{
    font-size: 32px;
    color: var(--primary) ;
    padding: 1rem 0;
    margin-right: 1rem;
}
.icons1 a{
    color: var(--white);
    text-decoration: none;
}
.form input{
    border-radius: 0.5rem;   
    margin: 0.5rem 0;
}
.icons2 i{
    margin: 2.5rem 0.3rem;
    font-size: 32px;
    color: var(--white) ; 
}
.icons2 i:hover{
    color: var(--primary);
}
.form #name{
    padding: 1rem;
    width: 500px;
    height: 65px;
}
.form #message{
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 1rem;
    width: 500px;
}
.form #submit{
    background-color: var(--primary);
    color: var(--white);
    border-radius: 2rem;
    border: var(--primary);
    padding: 0.7rem 2rem ;
    float: right;
}
.form #submit:hover{
    background-color: var(--black);
    color: var(--primary);
    box-shadow: 0 5px 5px 0;
}
.form input text,textarea{
    color: var(--gray);
    font-family: 'Poppins', sans-serif;

}
#footer__hr{
    border: 1px solid var(--white);
    opacity: 10%;
}
/*----------------Form Elements For Contact.html Ends Here---------------*/

.contact{
    padding: 3rem 0  1rem 0;
    background-color: #FFA700;
}
.contact__wrapper{
    text-align: center;
    padding: 2rem 0;
}
.contact__wrapper a{
    color: var(--white);
    padding: 1.3rem 2.5rem;
    background-color: var(--black);
    border-radius: 3rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    margin: 2rem 0 0.1rem 0;
    font-size: 12px;
    letter-spacing: 2px;
}
.contact__wrapper a:hover{
    color: var(--black);
    background-color: var(--primary);
    font-weight: bold;
    box-shadow: 0 5px 5px 0px;
}
@media (max-width: 768px){
    .contact__wrapper h2{
        font-size: 20px;
    }
    .contact__wrapper p{
        font-size: 16px;
    }
    .contact__wrapper a{
        padding: 1rem 2rem;   
    }
}
/*----------------Contact Elements Ends Here---------------*/
.footer{
    padding: 1rem 0;
    background-color: var(--black) ;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__icons{
    display: flex;
    align-items: center;
    color: var(--white);
    opacity: 50%;
}
#footer_p{
    padding-left: 2rem;
    color: var(--white);
    opacity: 50%;
    text-align: center;
}
.footer__icons i{
    font-size: 28px;
    color: var(--white);
    margin: 1rem 0.5rem;
}
.footer__icons i:hover{
    color: var(--primary);
}
.footer__details{
    color: var(--white);
    opacity: 50%;
}
@media (max-width: 768px){
    .footer__wrapper{
        flex-direction: column;
    }
}
/*----------------Footer Elements Ends Here---------------*/