*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*para di magalaw kahit mag-set ng height width*/
}
body{
    font-family: 'Poppins', sans-serif;
}
/*pag kukunin color, call lang yung var()*/
:root{
    --primary: #FFA700;
    --black: #2b2b2b;
    --gray: #808080;
    --white: #ffffff;
}
.container{
    max-width: 112rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
@media (min-width: 768px){
    .container{
        width: 100%;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
.header{
    background-color:var(--black);
    padding: 1rem 0;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
}
#spanLogo{
    color: #FFA700;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
#services{
    color: var(--primary);
}

nav ul li a:hover{
    color: var(--primary);
}
/*----------------Header Elements ends here----------------*/
.banner{
    padding: 6rem 0;
}

.banner__wrapper{
    display: flex;
    align-items: center;
    gap: 9rem;
}
.banner img{
    width: 40rem;
}
.banner__content h1{
    font-size: 3.5rem;
    color: var(--primary);
    line-height: 70px;
}
.banner__content #p{
    text-align: justify;
    margin: 2.5rem 0
}
.banner__content #p2{
    font-style: italic;
    font-size: 10px;
}
.banner__content p{
    margin: 0.3rem 0;
}
.banner__content h3{
    color: var(--primary);
    font-size: 1.8rem;
}
.arrow__down{
    color: var(--primary);
    text-align: center;
    font-size: 40px;

}
/*----------------Banner Elements ends here----------------*/
.banner2{
    padding: 6rem 0;
    background-color: var(--black);
}

.banner2__wrapper{
    display: flex;
    align-items: center;
    gap: 9rem;
}
.banner2 img{
    width: 40rem;
}
.banner2__content h1{
    font-size: 3.5rem;
    color: var(--primary);
    line-height: 70px;
}
.banner2__content #p{
    color: var(--white);
    text-align: justify;
    margin: 2.5rem 0
}
.banner2__content #p2{
    color: var(--white);
    font-style: italic;
    font-size: 10px;
}
.banner2__content p{
    color: var(--white);
    margin: 0.3rem 0;
}
.banner2__content h3{
    color: var(--primary);
    font-size: 1.8rem;
}
.arrow__down2{
    color: var(--primary);
    text-align: center;
    font-size: 40px;
    margin-top: 3rem;

}
/*----------------Banner2 Elements ends here----------------*/
.contact{
    padding: 3rem 0  1rem 0;
    background-color: #FFA700;
}
.contact__wrapper{
    text-align: center;
    padding: 2rem 0;
}
.contact__wrapper a{
    color: var(--white);
    padding: 1.3rem 2.5rem;
    background-color: var(--black);
    border-radius: 3rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    margin: 2rem 0 0.1rem 0;
    font-size: 12px;
    letter-spacing: 2px;
}
.contact__wrapper a:hover{
    color: var(--black);
    background-color: var(--primary);
    font-weight: bold;
    box-shadow: 0 5px 5px 0px;
}
/*----------------Contact Elements Ends Here---------------*/
.footer{
    padding: 1rem 0;
    background-color: var(--black) ;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__icons{
    display: flex;
    align-items: center;
    color: var(--white);
    opacity: 50%;
}
#footer_p{
    padding-left: 2rem;
    color: var(--white);
    opacity: 50%;
    text-align: center;
}
.footer__icons i{
    font-size: 28px;
    color: var(--white);
    margin: 1rem 0.5rem;
}
.footer__icons i:hover{
    color: var(--primary);
}
.footer__details{
    color: var(--white);
    opacity: 50%;
}
@media (max-width: 768px){
    .footer__wrapper{
        flex-direction: column;
    }
}
/*----------------Footer Elements Ends Here---------------*/