*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*para di magalaw kahit mag-set ng height width*/
}
body{
    font-family: 'Poppins', sans-serif;
}
/*pag kukunin color, call lang yung var()*/
:root{
    --primary: #FFA700;
    --black: #2b2b2b;
    --gray: #808080;
    --white: #ffffff;
}
.container{
    max-width: 112rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
@media (min-width: 768px){
    .container{
        width: 100%;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
.header{
    background-color:var(--black);
    color: white;
    padding: 1rem 0;
    box-shadow: 0 5px 5px 0px;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
}
#spanLogo{
    color: #FFA700;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
#contact{
    color: var(--primary);
}

nav ul li a:hover{
    color: var(--primary);
}
#header__hr{
    border: 3px solid black;
    opacity: 90%;
}
/*----------------Header Elements ends here----------------*/
.contact{
    background-color: var(--black);
    color: var(--white);
    padding: 4rem 0;
}
.contact__content{
    display: flex;
    align-items: center;
    gap: 10rem;
}
.content__info h2{
    font-size: 3rem;
    color: var(--primary);
}
.content__info p{
    margin: 2rem 0;
}
.icons1 i{
    font-size: 32px;
    color: var(--primary) ;
    padding: 1rem 0;
    margin-right: 1rem;
}
.icons1 a{
    color: var(--white);
    text-decoration: none;
}
.form input{
    border-radius: 0.5rem;   
    margin: 0.5rem 0;
}
.icons2 i{
    margin: 2.5rem 0.3rem;
    font-size: 32px;
    color: var(--white) ; 
}
.icons2 i:hover{
    color: var(--primary);
}
.form #name{
    padding: 1rem;
    width: 500px;
    height: 65px;
}
.form #message{
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 1rem;
    width: 500px;
}
.form #submit{
    background-color: var(--primary);
    color: var(--white);
    border-radius: 2rem;
    border: var(--primary);
    padding: 0.7rem 2rem ;
    float: right;
}
.form #submit:hover{
    background-color: var(--black);
    color: var(--primary);
    box-shadow: 0 5px 5px 0;
}
.form input text,textarea{
    color: var(--gray);
    font-family: 'Poppins', sans-serif;

}
/*----------------Form Elements Ends Here---------------*/
#footer__hr{
    border: 1px solid var(--white);
    opacity: 10%;
}
.footer{
    padding: 1rem 0;
    background-color: var(--black) ;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__icons{
    display: flex;
    align-items: center;
    color: var(--white);
    opacity: 50%;
}
#footer_p{
    padding-left: 2rem;
}
.footer__icons i{
    font-size: 28px;
    color: var(--white);
    margin: 1rem 0.5rem;
}
.footer__icons i:hover{
    color: var(--primary);
}
.footer__details{
    color: var(--white);
    opacity: 50%;
}
/*----------------Footer Elements Ends Here---------------*/